<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новое на сайте It-Students.net</title>
    <link rel="icon" type="image/png" th:href="@{/favicons/itstudents.ico}" />
    <link rel="stylesheet" type="text/css" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header">Новое на сайте It-Students.net</h2>
        <div th:each="post : ${objects}" class="qa">
            <h3><a th:href="${post.url}" th:text="${post.title}"></a></h3>
            <p th:text="${post.text}"></p>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>
