<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RSS-Storage</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" />
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>RSS-Storage</h1>

        <h3>Рецензии RollingStone.ru</h3>
        <a th:href="@{/rolling-stone/}">html</a> |
        <a th:href="@{/rolling-stone/rss/}">rss</a> |
        <a href="http://rollingstone.ru/review/">оригинал</a>

        <h3>Новоcти сериалов от LostFilm.tv</h3>
        <a th:href="@{/lostfilm/}">html</a> |
        <a th:href="@{/lostfilm/rss/}">rss</a> |
        <a href="http://www.lostfilm.tv/">оригинал</a>
    </div>
</div>

</body>
</html>
