<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RSS-Storage</title>
    <link rel="icon" type="image/png" th:href="@{/static/favicon.png}" />
    <link rel="stylesheet" type="text/css" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>RSS-Storage</h1>

        <h3>Конференция Радио Уткин</h3>
        <a th:href="@{/radioutkin/}">html</a> | <a th:href="@{/radioutkin/rss/}">rss</a> | <a href="http://radioutkin.ru/conference/">оригинал</a>

        <h3>Конференция Андронова</h3>
        <a th:href="@{/andronov/}">html</a> | <a th:href="@{/andronov/rss/}">rss</a> | <a href="http://rsport.ru/conference/20130125/641604312.html?conference_id=657785746">оригинал</a>

        <h3>Рецензии RollingStone.ru</h3>
        <a th:href="@{/rolling-stone/}">html</a> | <a th:href="@{/rolling-stone/rss/}">rss</a> | <a href="http://rollingstone.ru/reviews">оригинал</a>

        <h3>Новое на сайте It-Students</h3>
        <a th:href="@{/it-students/}">html</a> | <a th:href="@{/it-students/rss/}">rss</a> | <a href="http://it-students.net/">оригинал</a>

        <h3>Новоcти сериалов от LostFilm.tv</h3>
        <a th:href="@{/lostfilm/}">html</a> | <a th:href="@{/lostfilm/rss/}">rss</a> | <a href="http://www.lostfilm.tv/">оригинал</a>
    </div>
</div>

</body>
</html>
